/* ===== PRIMARY STYLES =====================================================
   ========================================================================== */
/*========================= global ===========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {  
  font-family: 'DinPro';  
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position:relative;
}
.bold {
  font-weight: bold;
}
/* ШАПКА ========== ШАПКА ============= ШАПКА */
.header {
  width: 100%;
  height: 624px;
  background: url(../img/background/header-bg.jpg) top center;
}
.header-top {
  width: 980px;
  margin: 0 auto;
  height: 97px;
  background: rgba(255,255,255, .6);
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  padding: 20px 0 0 30px; 
  position: relative;
}
.header-pointer {
  display: block;
  position: absolute;
  top: 23px;
  left: 30px;
}
.header-top p {
  padding-left: 15px;
}
.header-logo {
  position: absolute;
  top: 5px;
  left: 45%;
}
.header-telephone {
  position: absolute;
  top: 5px;
  right: 10px;
  text-align: center;
}
.header-telephone span:first-child{
  font-size: 15px;
}
.number{
  font-size: 30px;
  padding-left: 15px;
}
.header-telephone a{
  color: #000;
  text-decoration: none;
  border-bottom: 1px dashed;
  padding: 0 3px 2px 3px;
}
.header-bottom {
  padding-top: 25px;
  width: 980px;
  height: 525px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.header-bottom h1{
  font-size: 29px;
}
.x2 {
  height: 441px;
  width: 480px;
  background: url();
  position: absolute;
  bottom: -95px;
  background: url(../img/background/x2.png) no-repeat top right,
              url(../img/background/circle.png) no-repeat top left;
}
.x2-text {
  width: 155px;
  margin: 40px 0 0 35px;
}
.x2-text span{
  color: #ec4f52;
  font-size: 38px;  
}
.x2-text p {
 font-size: 29px;
}
.x2-text a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  display: block;
  height: 70px;
  background: url(../img/a-point.png) bottom center no-repeat;
}
.x2-text a:hover{
  background: url(../img/a-point-hover.png) bottom center no-repeat;
}
.i2 {
  height: 476px;
  width: 500px;
  background: url();
  position: absolute;
  bottom: -55px;
  right: 0;
  background: url(../img/background/i2.png) no-repeat bottom left, 
              url(../img/background/circle.png) no-repeat top right;              
}
.i2-text {
  width: 155px;  
  position: absolute;
  right: 35px;
  top: 40px;
}
.i2-text span{
  color: #ec4f52;
  font-size: 38px;  
}
.i2-text p {
 font-size: 29px;
}
.i2-text a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  display: block;
  height: 70px;
  background: url(../img/a-point.png) bottom center no-repeat;
}
.i2-text a:hover{background: url(../img/a-point-hover.png) bottom center no-repeat;}
.asphalt {
  width: 100%;  
  padding-top: 80px;
  background: url(../img/background/asphalt-top.jpg) top center no-repeat,
              url(../img/circle3.png) bottom center no-repeat,
              url(../img/background/asphalt.jpg) top center;

              
}
.center-980 {
  width: 980px;
  margin: 0 auto;  
  padding-bottom: 45px;
  padding-top: 20px;
}
.my-form {  
  width: 978px;
  height: 98px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: url(../img/background/form-bg.png) no-repeat;
  position: relative;
}
.transform-right {
width: 66px;
height: 66px;
position: absolute;
top: 17px;
right: -32px;
background: url(../img/background/transform.png);
-webkit-border-radius: 0 7px 0 0;
-moz-border-radius: 0 7px 0 0;
border-radius: 0 7px 0 0;
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.my-form p{ 
  color: #fff; 
  display: inline-block;
  width: 450px; 
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #606160;
  padding: 20px 0 0 50px;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.cool-red {
  color: #ec4f52;
}
/* ФОООООРМА ===================== ФОМРмА ======================== ФОМРмА ========================= ФОМРмА == */
.feedback {
display: inline-block;
width: 414px;
height: 87px;
float: right;
margin-top: 5px;
background: url(../img/background/feedback-bg.png) no-repeat;
padding: 9px;
position: relative;
margin-right: 10px;
}
.transform-feed {
width: 60px;
height: 60px;
position: absolute;
top: 14px;
right: -29px;
background: #d34b44;
-webkit-border-radius: 0 7px 0 0;
-moz-border-radius: 0 7px 0 0;
border-radius: 0 7px 0 0;
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
border-top: 1px solid #f4a9a5;
border-right: 1px solid #f4a9a5;
z-index: 1;
}
.feedback input[type="text"]{
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  height: 19px;
  width: 197px;
  padding: 6px 0 5px 14px;
  margin: 2px;
  border: none;
  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.55);
  box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.55);
}
.feedback input[type="text"]:focus{
  outline: none;
}
.feedback input[type="button"]{  
  display: block;
  position: absolute;
  top: 8px;
  right: 10px;
  height: 71px;  
  width: 168px;
  background: url(../img/background/submit.png); 
  border: none;  
  cursor: pointer;
  color: #d04841;
  font-size: 22px;
  text-align: center;
  padding-right: 20px;
}

/* ФОООООРМААА ===================== ФОМРмА ======================== ФОМРмА ========================= ФОМРмА ==*/
.guarntie-block {
  display: inline-block;
  width: 298px;
  height: 150px;
  border: 2px solid #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin: 30px 36px 0 0;
  text-align: center;
  padding-top: 15px;
  color: #fff;
  font-size: 20px;
  vertical-align: top;
}
.guarntie-block:last-child {
  margin: 30px 0 0 0;
}
.zaholovok {
  padding-top: 30px;
  color: #fff;
  text-align: center;
  font-size: 37px;
  padding-bottom: 15px;
}
.you-need-segway p{
  vertical-align: top;  
  color: #fff;
  font-size: 20px;
  padding-left: 50px;
  vertical-align: middle;
}
.you-need-segway img{
  padding-right: 25px;
  vertical-align: middle;
}
.you-need-segway {
  background: url(../img/circle1.png) top 20% center no-repeat, 
              url(../img/circle2.png) top 8% right 20% no-repeat, 
              url(../img/circle3.png) bottom right 30% no-repeat;
}
.problems {
  display: inline-block;
  width: 472px;
  height: 130px;
  border: 2px solid #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin: 10px 30px 0 0;
  text-align: center;
  padding-top: 15px;
  color: #fff;
  font-size: 24px;
  vertical-align: top;
}
.problems:last-child {
  margin: 10px 0 0 0;
  padding-top: 25px;
}
.no {
  padding: 20px 0 0 15px;
  display: inline-block;
  width: 505px;
}
.no p{
  vertical-align: top;
  line-height: 2;
  color: #fff;
  font-size: 20px;
  padding-left: 0;
  padding-bottom: 10px;
}
.no img{
  padding-right: 25px;
}
.yes {
  padding: 20px 0 0 15px;
  display: inline-block;
}
.yes p{
  vertical-align: top;
  line-height: 2;
  color: #fff;
  font-size: 20px;
  padding-left: 0;
  padding-bottom: 10px;
}
.yes img{
  padding-right: 25px;
}
.aksesuar {
  display: inline-block;
  width: 250px;
  height: 315px;
  color: #fff;
}
.aksesuar:nth-child(4), .aksesuar:nth-child(8){
  width: 211px;
}
.aksesuar img{
  border: 3px solid #fff;
}
.cena {
  padding-top: 10px;
  color: #ec4f52;
  font-size: 23px;
}
.videos {
  width: 100%;
  height: 220px;
  border-top: 2px solid #97989a;
  border-bottom: 2px solid #97989a;
  background-color: rgba(255,255,255, .3);
}
.movie {
  border: 1px solid #000;  
  height: 185px;
  display: inline-block;
  margin-right: 30px;
}
.movie:nth-child(2) {
  margin-left: 44px;
}
.movie:last-child {
  margin-right: 0;
  float: right;
}
.reviws p{
  padding-top: 20px;
  text-align: center;
  color: #fff;
}
.reviws {
  width: 980px;
  margin: 0 auto;
  padding-bottom: 25px;
}
.reviw {
  width: 470px;
  height: 255px;
  display: inline-block;
  padding-top: 25px;
  margin-bottom: 23px;
}
.reviw-left {
  float: left;
  width: 150px;
  text-align: center;
}
.reviw-right {
  float: right;
  height: 260px;
  width: 303px;
  border-radius: 5px;
  background-color: #ec4f52;
  position: relative;
}
.reviw-right p{
  color: #fff;
  padding: 10px;
  text-align: left;
  line-height: 1.2;
  font-size: 17px;
}
.last-p {
  padding-top: 20px;
  text-align: center;
  color: #fff;
}
.footer {
  width: 980px;
  margin: 0 auto;
  height: 125px;
  background: rgba(255,255,255, .6);
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  padding: 20px 0 0 30px; 
  position: relative;
}
.footer p {
  padding-left: 15px;
}
.copyright {
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
}


/* ========= WINDOWS POP-UP  ====================*/
/* ВИДЕО */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 3;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {          
    left: 50%;
    opacity: 0;
    padding: 10px;
    position: fixed;    
    top: 40%;
    visibility: hidden;
    z-index: 10;
 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.my-wind {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-align: center; 
  padding: 10px;  
  background: #fff;    
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
/* Кнопка закрытия окна  */
.close {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #ccc;
  height: 24px;
  line-height: 24px;
  position: absolute;
  right: -5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: arial;
  top: -5px;
  width: 24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
     border-radius: 15px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;    
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 18px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    line-height: 0.5;
    padding-top: -3px;
}
.close:hover {
    background-color: #e7cca0;
}
/*заказ звонка верхняя*/
.overlay-zvonokt {
    background-color: rgba(0, 0, 0, 0.0);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay-zvonokt:target {
    visibility: visible;
    opacity: 1;
}
.popup-zvonokt {              
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: -210px;
    top: 250px; 
    z-index: 10; 
    visibility: hidden;       
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.wind-zakaz-top {

  width: 379px;
  height: 260px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-align: center; 
  padding: 10px;  
  background: #fff;  
  position: relative;
}
.wind-zakaz-top:after {
  content: "";
  position: absolute;
  background: url(../img/background/pointer-top.png) no-repeat;
  width: 27px;
  height: 18px;
  top: -11px;
  right: 110px;
}
.wind-zakaz-top input[type="text"] {
  width: 340px;
  height: 42px;
  margin: 8px auto;  
  font-size: 20px;
  padding-left: 15px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #d4d4d4;
}
.wind-zakaz-top input[type="text"]:focus {
  outline: none;
}
.wind-zakaz-top input[type="button"] {
  width: 252px;
  height: 44px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;  
  border: none;
  color: #fff;
  margin: 8px auto; 
  font-size: 19px;
  cursor: pointer;
  background: rgba(241,122,116,1);
background: -moz-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,122,116,1)), color-stop(100%, rgba(211,75,68,1)));
background: -webkit-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: -o-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: -ms-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: linear-gradient(to right, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17a74', endColorstr='#d34b44', GradientType=1 );
}
.overlay-zvonokt:target+.popup-zvonokt {    
    opacity: 1;
    visibility: visible;
}
.wind-zakaz-top p{
  font-size: 21px;
}
.rel-pos {
  position: relative;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}
/*заказ звонка нижняя*/
.overlay-zvonokb {
    background-color: rgba(0, 0, 0, 0.0);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;  
    z-index: 2;  
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay-zvonokb:target {
    visibility: visible;
    opacity: 1;
}
.popup-zvonokb {              
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: -210px;
    bottom: 0px;  
    z-index: 10;  
    visibility: hidden;    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.wind-zakaz-bot {

  width: 379px;
  height: 260px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-align: center; 
  padding: 10px;  
  background: #fff;  
  position: relative;
}
.wind-zakaz-bot:after {
  content: "";
  position: absolute;
  background: url(../img/background/pointer-bottom.png) no-repeat;
  width: 27px;
  height: 18px;
  bottom: -15px;
  right: 110px;
}
.wind-zakaz-bot input[type="text"] {
  width: 340px;
  height: 42px;
  margin: 8px auto;  
  font-size: 20px;
  padding-left: 15px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #d4d4d4;
}
.wind-zakaz-bot input[type="text"]:focus {
  outline: none;
}
.wind-zakaz-bot input[type="button"] {
  width: 252px;
  height: 44px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;  
  border: none;
  color: #fff;
  margin: 8px auto; 
  font-size: 19px;
  cursor: pointer;
  background: rgba(241,122,116,1);
background: -moz-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,122,116,1)), color-stop(100%, rgba(211,75,68,1)));
background: -webkit-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: -o-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: -ms-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: linear-gradient(to right, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17a74', endColorstr='#d34b44', GradientType=1 );
}
.overlay-zvonokb:target+.popup-zvonokb {    
    opacity: 1;
    visibility: visible;
}
.wind-zakaz-bot p{
  font-size: 21px;
}


/*           END ===============================                       */
.overlay-i2 {
    background-color: rgba(0, 0, 0, 0.0);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay-i2:target {
    visibility: visible;
    opacity: 1;
}
.popup-i2 {              
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: -513px; 
    top: 550px; 
    z-index: 10;   
    visibility: hidden;  
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.wind-i2 {
  background: url(../img/background/i2-bg.jpg);
  width: 984px;
  height: 917px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-align: center; 
  padding: 10px;      
  position: relative;
}
.wind-i2:after {
  content: "";
  background: url(../img/background/i2.png);
  position: absolute;
  bottom: 60px;
  right: 40px;
  width: 320px;
  height: 406px;
}
.overlay-i2:target+.popup-i2 {    
    opacity: 1;
    visibility: visible;
}
.i2-info {
  font-size: 20px;  
  padding: 12px;
  background: rgba(255,255,255, .8);
  height: 660px;
  margin: 0 0 0 20px;
  width: 539px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #000;  
}
.info-left {  
  float: left;
  width: 390px;
  text-align: left;

}
.info-right {
  display: inline-block;
  width: 125px;
  text-align: left;  
  float: left;
}
/* x2 x2 x2*/
.overlay-x2 {
    background-color: rgba(0, 0, 0, 0.0);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay-x2:target {
    visibility: visible;
    opacity: 1;
}
.popup-x2 {              
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: -513px; 
    top: 550px;   
    z-index: 10;  
    visibility: hidden;    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.wind-x2 {
  background: url(../img/background/i2-bg.jpg);
  width: 984px;
  height: 917px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-align: center; 
  padding: 10px;      
  position: relative;
}
.wind-x2:after {
  content: "";
  background: url(../img/background/x2.png) ;
  position: absolute;
  bottom: 60px;
  right: 40px;
  width: 300px;
  height: 406px;
}
.overlay-x2:target+.popup-x2 {    
    opacity: 1;
    visibility: visible;
}
.center-980-pop {
  margin: 0 auto;
  width: 980px;
  position: relative; 
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 //////////////////////// ======================= C()NTENT SLIDER =========================\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#container {
  width:980px;
  margin:0 auto;
  position:relative;
}

#slides {
  position:relative;
}

#slides .slidesContainer {    
  margin-left:-8px;  
}

/*
  Next/prev buttons
*/

#slides .slidesNext,#slides .slidesPrevious {
  position:absolute;
  top:134px;
  left:20px;
  width:24px;
  height:0;
  padding-top:5px;
  display:block;
  z-index:-101;
  overflow:hidden;
  background:url(../img/navigation-previous.png) no-repeat 0 0;
}

#slides .slidesNext {
  right:20px;
  left:auto;
  background:url(../img/navigation-next.png) no-repeat 0 0;
}

/*
  Pagination
*/

.slidesPagination {
  margin:26px auto;
  width:115px;
}

.slidesPagination li {
  float:left;
  margin:0 1px;
  list-style:none;
}

.slidesPagination li a {
  display:block;
  width:14px;
  height:0;
  padding-top:14px;
  margin-left: 20px;
  background: url(../img/pagination.png);
  background-position:0 0;
  overflow:hidden;
}

.slidesPagination li.slidesCurrent a {
  background-position:0 -14px;
}

.current_slide {
  font:bold 10px/1.33 sans-serif;
  width:100%;
  text-align:center;
  margin-top:12px;
}
.fixed-button {
  position: fixed;
  left: -110px;
  top: 50%;
  -moz-transform: rotate(90deg); /* Для Firefox */
  -ms-transform: rotate(90deg); /* Для IE */
  -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(90deg); /* Для Opera */
  transform: rotate(90deg);
  background: #ec4f52;
  border-radius: 7px;
  width: 250px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
}
.fixed-button a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background: 
}
/* ФИКСИРОВАНАЯ */
.fixed-overlay-zvonokt {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.fixed-overlay-zvonokt:target {
    visibility: visible;
    opacity: 1;
}
.popup-zvonok-fixed {              
    opacity: 0;
    padding: 10px;
    position: fixed;
    left: 50%;    
    top: 50%; 
    z-index: 10; 
    visibility: hidden;       
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.wind-zakaz-fix {

  width: 379px;
  height: 260px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-align: center; 
  padding: 10px;  
  background: #fff;  
  position: relative;
}
.wind-zakaz-fix input[type="text"] {
  width: 340px;
  height: 42px;
  margin: 8px auto;  
  font-size: 20px;
  padding-left: 15px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #d4d4d4;
}
.wind-zakaz-fix input[type="text"]:focus {
  outline: none;
}
.wind-zakaz-fix input[type="button"] {
  width: 252px;
  height: 44px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;  
  border: none;
  color: #fff;
  margin: 8px auto; 
  font-size: 19px;
  cursor: pointer;
  background: rgba(241,122,116,1);
background: -moz-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,122,116,1)), color-stop(100%, rgba(211,75,68,1)));
background: -webkit-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: -o-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: -ms-linear-gradient(left, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
background: linear-gradient(to right, rgba(241,122,116,1) 0%, rgba(211,75,68,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17a74', endColorstr='#d34b44', GradientType=1 );
}
.fixed-overlay-zvonokt:target+.popup-zvonok-fixed {    
    opacity: 1;
    visibility: visible;
}
.wind-zakaz-fix p{
  font-size: 21px;
}
.rel-pos {
  position: relative;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}
.how-wie-work {
  width: 980px;
  margin: 0 auto;
  height: 250px;  
}
.how-wie-work ul{
  padding-top: 15px;
}
.how-wie-work li{
  display: inline-block;
  width: 195px;  
  vertical-align: top;
  color: #d5d5d5;
  text-align: center;
}
.how-wie-work li:last-child{
  width: 150px;
}
.how-wie-work h1{
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 40px;
}
.partners {
  padding-bottom: 20px;
}
.partners h1{
   text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  padding-bottom: 15px; 
}